@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Black"), local("Rubik-Black"), url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("../fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../fonts/Rubik-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Black Italic"), local("Rubik-BlackItalic"), url("../fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../fonts/Rubik-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik ExtraBold"), local("Rubik-ExtraBold"), url("../fonts/Rubik-ExtraBold.woff2") format("woff2"), url("../fonts/Rubik-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik ExtraBold Italic"), local("Rubik-ExtraBoldItalic"), url("../fonts/Rubik-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Rubik-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik SemiBold"), local("Rubik-SemiBold"), url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Italic"), local("Rubik-Italic"), url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Regular"), local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("../fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Rubik';
  src: local("Rubik SemiBold Italic"), local("Rubik-SemiBoldItalic"), url("../fonts/Rubik-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Rubik-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

.title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  color: #1A202C; }
  .title_size_s {
    font-size: 16px;
    line-height: 32px; }
  .title_size_m {
    font-size: 24px;
    line-height: 30px; }
  .title_size_l {
    font-size: 30px;
    line-height: 30px; }
  .title_size_xl {
    font-size: 40px;
    line-height: 48px; }
  .title_size_xxl {
    font-size: 44px;
    line-height: 60px; }
  .title_theme_sidebar {
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 22px; }
  .title_theme_table {
    font-weight: 400;
    line-height: 19px; }

.text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #4A5568;
  margin: 0; }
  .text_size_s {
    font-size: 14px;
    line-height: 24px; }
  .text_size_m {
    font-size: 16px;
    line-height: 32px; }
  .text_size_l {
    font-size: 18px;
    line-height: 24px; }
  .text_size_xl {
    font-size: 24px;
    line-height: 26px; }
  .text_type_title {
    font-weight: 600;
    text-transform: uppercase;
    color: #1A202C; }
  .text_type_dedicated {
    color: #E63756; }

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #E63756;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 8px;
  padding: 0 5px 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .button_theme_empty {
    background: inherit;
    border: 1px solid #E63756;
    color: #E63756; }

.list {
  list-style: none;
  padding: 0;
  margin: 0; }

.link {
  text-decoration: none; }
  .link_active {
    color: #E63756; }

.line {
  background: #EBE7E7;
  height: 1px;
  border: none;
  width: 100%;
  margin: 0; }

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 0; }
  .input:focus {
    outline: none; }
  .input_type_field {
    border: 1px solid #EAEAEA;
    border-radius: 8px; }

.label_required::after {
  content: '*';
  color: #E63756; }

.page {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0; }
  .page__inner {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 30px 0 30px; }
  .page__footer {
    margin: 70px 0 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 92px;
  background: #ffffff;
  font-size: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .menu__create-acc {
    margin: 0 0 0 auto; }

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo__img-text {
  margin: 0 0 0 13.91px; }

.img-logo {
  display: block; }

.img-text-logo {
  display: none; }

.icon-menu {
  display: none; }

.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px 0 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.navigate__item {
  margin: 0 15px 0 15px;
  position: relative;
  padding: 10px 0 10px 0; }
  .navigate__item:last-child {
    margin-right: 0; }

.navigate__link {
  padding: 5px 16px 5px 0;
  display: block; }

.navigate__courses-link {
  color: #1A202C;
  position: relative; }
  .navigate__courses-link::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #E63756;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translate(0, -240%);
            transform: translate(0, -240%);
    right: 10px;
    position: absolute; }

.link-nav {
  color: #1A202C;
  position: relative; }
  .link-nav_dedicated {
    color: #E63756; }
  .link-nav::after {
    content: "";
    width: 8px;
    height: 6px;
    position: absolute;
    background: url("../img/navigate_arrow.svg") center center no-repeat;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.dropdown {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: -15px;
  padding: 15px 0 15px 0;
  width: 200px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .dropdown__link {
    color: #1A202C;
    display: block;
    line-height: 32px;
    padding: 0 15px 0 15px; }

.telephone__link {
  padding-right: 0; }

.create-acc__link {
  width: 197px;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  display: block; }

.main {
  background: url("../img/ground_head.png") top -120px center no-repeat; }
  .main__head {
    padding: 40px 0 105px 0; }

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.breadcrumbs__item {
  margin: 0 24px 0 0;
  position: relative; }
  .breadcrumbs__item:not(:last-child)::after {
    content: "";
    width: 3px;
    height: 6px;
    background: url("../img/breadcrumb-arrow.svg") center center no-repeat;
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .breadcrumbs__item:last-child {
    margin: 0; }

.breadcrumbs__link {
  color: #b8bcc3; }

.breadcrumb-link_active {
  color: #E63756; }

.head-main__title {
  margin: 29px 0 0 0; }

.info-main-head {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
  text-align: center; }
  .info-main-head__subtitle {
    margin: 22px 0 0 0; }

.body-main__title {
  margin: 0 0 42px 0; }

.container {
  margin: 48px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container__box {
    margin: 0 45px 0 0;
    max-width: 65.724%; }
  .container__sidebar {
    max-width: 355px; }

.content__info {
  margin: 28px 0 -16px 0; }

.content__table-history {
  margin: 64px 0 0 0; }

.content__reviews {
  margin: 71px 0 0 0; }

.content__form {
  margin: 75px 0 0 0; }

.content__short-info {
  margin: 78px 0 0 0; }

.content__comments {
  margin: 80px 0 0 0; }

.slider-content {
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  overflow: hidden; }
  .slider-content__slide {
    padding: 31px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #F7FAFC;
    text-align: center; }
  .slider-content__img {
    height: 320px;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .slider-content__navigate {
    min-height: 49px;
    position: relative; }
  .slider-content__navigate > .slider-content__pagination {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: 0;
    z-index: 1; }
  .slider-content__buttons {
    position: absolute;
    right: 18px;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .slider-content__button {
    width: 28px;
    height: 28px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    margin: 0 8px 0 0; }
    .slider-content__button:last-child {
      margin: 0; }
  .slider-content__img-button {
    margin: auto; }

.button-prev__img {
  padding-right: 2px; }

.button-next__img {
  padding-left: 2px; }

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px; }

.swiper-pagination-bullet-active {
  background: #E63756; }

.info-content__text {
  margin: 0 0 16px 0; }

.info-content__list {
  margin: 0 0 16px 0; }

.info-content__title {
  margin: 0 0 16px 0; }

.info-content__item::before {
  content: "—";
  padding: 0 6px 0 0; }

.components__rent {
  margin: 0 0 31px 0; }

.components__info {
  margin: 0 0 20px 0; }

.components__button {
  margin: 0 0 32px 0; }

.components__button-demo {
  margin: 0 0 20px 0; }

.components__documentation {
  margin: 0 0 32px 0; }

.component__button {
  width: 100%;
  min-height: 50px;
  font-size: 16px; }

.sidebar-card {
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  overflow: hidden; }
  .sidebar-card__title {
    background: #EDF6FE;
    text-align: center;
    min-height: 65px;
    padding: 21px 10px 22px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #EAEAEA; }
  .sidebar-card__table-rent {
    padding: 22px 38px 26px 40px; }
  .sidebar-card__list {
    padding: 24px 16px 26px 17px; }
  .sidebar-card__table {
    padding: 19px 15px 28px 15px; }

.table-rent {
  border-collapse: collapse;
  width: 100%; }
  .table-rent__cell {
    line-height: 24px;
    padding: 5px 0 5px 0; }
  .table-rent__emphasis {
    padding-left: 20px;
    color: #E63756; }
  .table-rent__row {
    color: #000000;
    border-bottom: 2px solid transparent; }
    .table-rent__row:last-child {
      border-bottom: none; }

.table-sidebar {
  border-collapse: collapse;
  margin: 0 auto;
  font: inherit;
  font-size: 16px;
  line-height: 34px;
  color: #4A5568; }
  .table-sidebar__row > .table-sidebar__cell:last-child {
    padding: 0 0 0 24px;
    font-weight: 600;
    color: #1A202C; }
  .table-sidebar__row {
    border-bottom: 2px solid transparent; }
    .table-sidebar__row:last-child {
      border-bottom: none; }

.file-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 27px; }
  .file-block__link-inner {
    text-decoration: none;
    color: #4A5568;
    display: inline-block;
    padding: 0 0 0 60px;
    position: relative; }
    .file-block__link-inner::before {
      content: "";
      background: url("../img/icon_doc-word.svg") center center no-repeat;
      width: 38px;
      height: 36px;
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .file-block__name {
    color: #2f80ed;
    text-align: left; }
  .file-block__weight {
    color: #4A5568;
    font-weight: 300; }
  .file-block__date {
    font-weight: 300;
    text-align: left; }

.table-history__inner {
  margin: 32px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #EAEAEA; }

.table-history__title-wrap {
  padding: 19px 32px 20px 33px;
  background: #EDF6FE; }

.table-history__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.table-history__elem {
  display: inline-block; }

.table-history__descriptions > .table-history__row {
  border-bottom: 1px solid #EAEAEA;
  padding: 27px 0 31px 0; }
  .table-history__descriptions > .table-history__row:first-child {
    padding-top: 0; }
  .table-history__descriptions > .table-history__row:last-child {
    padding-bottom: 0;
    border-bottom: none; }

.table-history__descriptions {
  padding: 25px 32px 34px 33px; }

.table-history__new-title {
  text-align: center; }

.table-history__text-revision {
  display: none; }

.table-history__revision {
  min-width: 65px;
  text-align: center;
  padding: 0 36px 0 0; }

.table-history__date {
  min-width: 65px;
  text-align: center;
  padding: 0 52px 0 0; }

.table-history__new {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 36px 0;
  border-bottom: 1px solid #EAEAEA; }

.reviews__button {
  background: inherit;
  color: #E63756;
  text-decoration: underline;
  padding: 0;
  line-height: 22px; }

.review {
  padding: 18px 0 21px 0;
  border-bottom: 1px solid #EAEAEA; }
  .review__user-name {
    display: inline-block;
    color: #4A5568;
    line-height: 28px; }
  .review__info {
    float: right;
    text-align: right; }
  .review__rating {
    font-size: 0;
    margin: 3px 0 0 0; }
  .review__img-star {
    margin: 0 7px 0 0;
    width: 20px;
    height: 20px; }
    .review__img-star:last-child {
      margin: 0; }
  .review__user-text {
    padding: 0 128px 0 0;
    line-height: 28px;
    color: #1A202C; }

.form-content {
  padding: 53px 75px 44px 76px;
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form-content__input-group {
    margin: 0 0 20px 0; }
  .form-content__input {
    margin: 0 0 14px 0; }
    .form-content__input:last-child {
      margin: 0; }
  .form-content__textarea {
    margin: 0 0 15px 0; }
  .form-content__text {
    line-height: 22px; }
  .form-content__text-download {
    margin: 0 0 22px 0; }
  .form-content__button-file {
    margin: 0 0 13px 0; }
  .form-content__text-required {
    margin: 0 0 70px 0; }
  .form-content__button {
    min-width: 315px;
    min-height: 50px;
    margin: 0 auto 19px; }
  .form-content__data-processing {
    font-weight: 300;
    max-width: 315px;
    margin: 0 auto;
    text-align: center;
    line-height: 28px; }
  .form-content__data-link {
    color: #4A5568;
    text-decoration: underline; }

.field-content-form {
  position: relative; }
  .field-content-form__line {
    color: #666666;
    width: 100%;
    padding: 9px 35px 8px 35px;
    line-height: 22px; }
    .field-content-form__line:focus + label {
      display: none; }
  .field-content-form__label {
    color: #666666;
    position: absolute;
    top: 10px;
    left: 35px;
    line-height: 22px;
    cursor: text; }
  .field-content-form__textarea {
    min-height: 100px;
    max-width: 100%; }
  .field-content-form__input-file {
    opacity: 0;
    position: absolute;
    visibility: hidden; }
  .field-content-form__button-file {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 315px;
    min-height: 50px;
    border: 1px solid #E63756;
    border-radius: 8px; }
  .field-content-form__button-file-text {
    color: #E63756;
    line-height: 22px;
    margin: auto; }

.short-info__inner {
  margin: 31px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.publication-date__text {
  color: #a0adb8;
  line-height: 22px; }

.grade-article {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .grade-article__text {
    line-height: 22px;
    margin: 0 22px 0 0; }
  .grade-article__emotion {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }

.emotion {
  margin: 0 18px 0 0;
  cursor: pointer; }
  .emotion:last-child {
    margin: 0; }
  .emotion__img {
    display: block; }

.footer__line {
  background: #edf2f7; }

.footer__inner {
  padding: 80px 0 80px 0; }

.footer-navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-navigate__column {
    -ms-flex-preferred-size: 16.666%;
        flex-basis: 16.666%;
    margin: 0 15px 0 0; }
    .footer-navigate__column:last-child {
      margin: 0; }
  .footer-navigate__column-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .footer-navigate__but-link {
    line-height: 29px;
    margin: 0 0 30px 0;
    display: block; }
  .footer-navigate__list {
    font-size: 13px;
    line-height: 29px; }
  .footer-navigate__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .footer-navigate__contact-item:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .footer-navigate__social {
    margin: 0 0 29.5px 0; }
  .footer-navigate__link {
    color: #1A202C; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 117px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0; }
  .social__list:last-child {
    margin: 0; }

.social__link {
  display: block;
  height: 16px; }

.social__img {
  height: 100%;
  display: block; }

.download-app {
  margin: 0 0 25px 0;
  line-height: 25px; }
  .download-app:last-child {
    margin: 0; }
  .download-app__link {
    display: block; }
  .download-app__img {
    display: block;
    max-width: 100%; }

.copyright-text {
  color: #1A202C;
  font-size: 12px;
  line-height: 28px; }

body.js-pc .navigate__list > .navigate__item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

body.js-touch .navigate__list > .navigate__item.js-active .dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

body.js-touch .navigate__list > .navigate__item .link-nav::after {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  -webkit-transform: rotate(0) translateY(-50%);
          transform: rotate(0) translateY(-50%); }

body.js-touch .navigate__list > .navigate__item.js-active .link-nav::after {
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%); }

@media (max-width: 1200px) {
  .sidebar-card__table-rent {
    padding: 22px 15px 26px 15px; } }

@media (max-width: 1075px) {
  .menu {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .create-acc {
    display: none; }
  .navigate__list {
    margin-right: 0; }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .container__box {
    max-width: 100%;
    margin: 0; }
  .container__sidebar {
    margin: 59px 0 0 0;
    max-width: 100%; }
  .components {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .components__inner {
      margin: 0 15px 0 0;
      -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%; }
      .components__inner:last-child {
        margin: 0; }
    .components__rent {
      margin: 0; }
    .components__button {
      margin: 0; }
    .components__button-demo {
      margin: 0 0 20px 0; } }

@media (max-width: 1000px) {
  .logo__img-text {
    display: block; }
  .navigate {
    font-size: 20px;
    overflow: auto;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, 0.96);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 92px 30px 30px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 10; }
    .navigate::before {
      -webkit-transition: right 0.5s ease 0s;
      transition: right 0.5s ease 0s;
      right: -100%;
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      height: 92px;
      background: #ffffff;
      z-index: 11; }
    .navigate__item {
      width: 100%;
      margin: 0;
      padding-bottom: 0;
      padding-top: 0; }
    .navigate__link {
      display: inline-block;
      padding-bottom: 15px;
      padding-top: 15px; }
  .navigate.js-active {
    right: 0; }
  .navigate.js-active::before {
    right: 0; }
  .navigate__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0; }
  .dropdown {
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: relative;
    left: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #F7FAFC;
    padding: 0;
    width: 100%;
    display: none; }
    .dropdown__link {
      padding: 5px 10px 5px 30px; }
  .navigate__list > .navigate__item.js-active .dropdown {
    display: block; }
  .logo {
    z-index: 12; }
  .icon-menu {
    padding: 15px 0 15px 15px;
    cursor: pointer;
    display: block;
    z-index: 11; }
  .icon-menu__inner {
    position: relative;
    height: 18px;
    width: 20px; }
    .icon-menu__inner::before, .icon-menu__inner::after,
    .icon-menu__inner span {
      left: 0;
      position: absolute;
      height: 2px;
      width: 100%;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      background: #1A202C; }
    .icon-menu__inner::before, .icon-menu__inner::after {
      content: ""; }
    .icon-menu__inner::before {
      top: 0; }
    .icon-menu__inner::after {
      bottom: 0; }
    .icon-menu__inner span {
      top: 50%;
      -webkit-transform: scale(1) translate(0px, -50%);
              transform: scale(1) translate(0px, -50%); }
  .icon-menu.js-active .icon-menu__inner span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%); }
  .icon-menu.js-active .icon-menu__inner::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%); }
  .icon-menu.js-active .icon-menu__inner::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, 50%);
            transform: rotate(-45deg) translate(0px, 50%); } }

@media (max-width: 992px) {
  .components {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .components__inner {
      margin: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }
    .components__rent {
      margin-bottom: 30px; }
    .components__button {
      margin: 30px 0 30px 0; }
    .components__button-demo {
      margin: 0 0 20px 0; }
  .component__button {
    display: block;
    max-width: 315px;
    margin: 0 auto; }
  .table-rent {
    width: auto;
    margin: 0 auto; }
  .file-block {
    text-align: center; }
  .footer-navigate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-navigate__column {
      margin: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      width: 600px; }
    .footer-navigate__but-link {
      position: relative; }
      .footer-navigate__but-link::after {
        content: "";
        width: 12px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background: url("../img/icon_dropdown.png") no-repeat;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .footer-navigate__but-link.active::after {
      -webkit-transform: rotate(180deg) translateY(50%);
              transform: rotate(180deg) translateY(50%); }
    .footer-navigate__list {
      display: none;
      background: #F7FAFC;
      padding: 5px 15px;
      margin: 5px 0; }
    .footer-navigate__but-link {
      margin-bottom: 0; } }

@media (max-width: 768px) {
  .title_size_xl {
    font-size: 25px;
    line-height: 30px; }
  .title_size_m {
    font-size: 16px;
    line-height: 22px; }
  .header {
    background: #f9fbfd; }
  .menu {
    background: transparent; }
  .main {
    background-position-y: -150px; }
  .body-main__title {
    margin: 0; }
  .body-main__line {
    display: none; }
  .page__inner {
    padding: 0 20px 0 20px; }
  .info-main-head {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    display: block; }
    .info-main-head__title {
      font-size: 25px; }
  .head-main__title {
    display: none; }
  .breadcrumbs {
    display: none; }
  .slider-content__buttons {
    display: none; }
  .slider-content {
    border: none;
    border-radius: 0; }
  .table-history {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #EAEAEA; }
    .table-history__title {
      text-align: center;
      background: #EDF6FE;
      padding: 21px 10px 22px 10px; }
    .table-history__inner {
      border-radius: 0;
      border: none;
      margin: 0;
      overflow: visible; }
    .table-history__title-wrap {
      display: none; }
    .table-history__row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .table-history__descriptions > .table-history__row {
      border-bottom: none;
      padding: 0 0 37px 0; }
    .table-history__text-revision {
      display: inline-block; }
    .table-history__revision {
      color: #E63756;
      padding: 0 0 0 12px; }
    .table-history__date {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: right;
      padding-right: 12px;
      max-width: 100%;
      min-width: 40%; }
    .table-history__new {
      margin-top: 11px;
      padding-top: 6px;
      border-top: 1px solid #EAEAEA;
      padding-left: 12px;
      padding-right: 12px; }
  .reviews__head {
    border-bottom: none; }
  .reviews__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 25px;
    line-height: 30px;
    text-align: center; }
  .reviews__button {
    display: none; }
  .review {
    border-bottom: none;
    padding: 0 0 30px 0; }
    .review:last-child {
      padding: 0; }
    .review__user-name {
      margin-bottom: 18px; }
    .review__info {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .review__rating {
      margin: 0 0 0 35px; }
    .review__img-star {
      margin: 0 5px 0 0;
      width: 14px;
      height: 14px; }
    .review__user-text {
      padding-right: 0; }
  .slider-content__slide {
    padding: 27px; }
  .slider-content__img {
    height: 260px; }
  .content__reviews {
    margin: 32px 0 0 0; }
  .content__form {
    margin: 41px 0 0 0; }
  .content__short-info {
    display: none; }
  .footer__line {
    display: none; }
  .footer__inner {
    padding: 0px 0 40px 0; }
  .footer-navigate__column {
    width: 500px; } }

@media (max-width: 576px) {
  .page__inner {
    padding: 0 8px 0 8px; }
  .content__slider {
    margin: 0 -8px 0 -8px; }
  .sidebar-card {
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin: 0 -8px 0 -8px; }
  .slider-content__img {
    height: 176px; }
  .table-history {
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin: 0 -8px 0 -8px; }
    .table-history__descriptions {
      padding-left: 10px;
      padding-right: 10px; }
  .form-content {
    padding: 29px 16px 29px 16px; }
    .form-content__text-required {
      display: none; }
    .form-content__button {
      max-width: 315px;
      width: 100%;
      min-width: 200px; }
  .field-content-form__line {
    padding-left: 22px;
    padding-right: 22px; }
  .field-content-form__label {
    left: 22px; }
  .field-content-form__button-file {
    margin: 0 auto 22px; }
  .footer-navigate__column {
    width: 100%; } }

.js-lock {
  overflow: hidden; }

.js-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

.js-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }
/*# sourceMappingURL=style.css.map */